@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* navbar toggling thing */
  .navContainer[data-visible="false"] {
      transform: translateX(100%);
  }

  div.navContainer[data-visible="false"] ~ div.navButton > img.nav\:open {
      display:  none;
  }

  .navContainer[data-visible="true"] {
      transform: translateX(0%);
  }
  div.navContainer[data-visible="true"] ~ div.navButton > img.nav\:close {
      display:  none;
  }
